 <div id="principal_lista"class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mt-5" style="width: 28rem; ">
            <img id="imagem-personagem" src="" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
    </div>
        <div class="col-md-6">
          <table class="table mt-5">
            <tr>
              <th>#</th>
              <th>Infomraçoes</th>
            </tr>
              <tr>
                <th>Nome</th>
                <th id="nome"></th>
              </tr>
              <tr>
                <th>Altura</th>
                <th id="altura"></th>
              </tr>
              <tr>
                <th>Peso</th>
                <th id="peso"></th>
              </tr>
              <tr>
                <th>Cor do cabelo</th>
                <th id="cabelo"></th>
              </tr>
              <tr>
                <th>Data de aniversário</th>
                <th id="aniversario"></th>
              </tr>
              <tr>
                <th>Cor dos olhos</th>
                <th id="olhos"></th>
              </tr>
          </table>
        </div>
      </div>
    </div>
</div>

<div>
  
</div>

<script>  
  window.onload = function(){
  //mudaImagem();
    }
  function mudaImagem(){
    switch(document.getElementById('listaPersonagem').value) {
      case '1': 
        document.getElementById('imagem-personagem').src = "/img/luke.jpg";
        fetch('https://swapi.dev/api/people/1/')
        .then((resp) => resp.json())
        .then((data) => {          
         document.querySelector('#nome').insertAdjacentHTML ('afterbegin',
          `<tr>
             <th>` + data.name + `<th>
            </tr>`,)
            document.querySelector('#altura').insertAdjacentHTML ('afterbegin',
            `<tr>
             <th>` + data.height + `<tr>
           </tr>`,)
           document.querySelector('#peso').insertAdjacentHTML ('afterbegin',
          `<tr>
             <th>` + data.mass + `<th>
            </tr>`,)
            document.querySelector('#cabelo').insertAdjacentHTML ('afterbegin',
            `<tr>
             <th>` + data.hair_color + `<tr>
           </tr>`,)
           document.querySelector('#aniversario').insertAdjacentHTML ('afterbegin',
          `<tr>
             <th>` + data.birth_year + `<th>
            </tr>`,)
            document.querySelector('#olhos').insertAdjacentHTML ('afterbegin',
            `<tr>
             <th>` + data.eye_color + `<tr>
           </tr>`,)
        })

    break;
    case '2': 
        document.getElementById('imagem-personagem').src = "/img/C-3PO.jpg";
        fetch('https://swapi.dev/api/people/2/')
        .then((resp) => resp.json())
        .then((data) => {
          document.querySelector('#nome').insertAdjacentHTML ('afterbegin',
          `<tr>
             <th>` + data.name + `<th>
            </tr>`,)
            document.querySelector('#altura').insertAdjacentHTML ('afterbegin',
            `<tr>
             <th>` + data.height + `<tr>
           </tr>`,)
           document.querySelector('#peso').insertAdjacentHTML ('afterbegin',
          `<tr>
             <th>` + data.mass + `<th>
            </tr>`,)
            document.querySelector('#cabelo').insertAdjacentHTML ('afterbegin',
            `<tr>
             <th>` + data.hair_color + `<tr>
           </tr>`,)
           document.querySelector('#aniversario').insertAdjacentHTML ('afterbegin',
          `<tr>
             <th>` + data.birth_year + `<th>
            </tr>`,)
            document.querySelector('#olhos').insertAdjacentHTML ('afterbegin',
            `<tr>
             <th>` + data.eye_color + `<tr>
           </tr>`,)
        })

    break;
    default:
    var btn = document.querySelector("#refresh");
btn.addEventListener("click", function() {
    
    location.reload();
});

}
}

</script>