<div class="container">
  <nav>
    <a href="/"> <img src="./img/logo.png" alt=""></a>
    <a href="/filme" id="#home"><i class="fa-solid fa-film"></i>Filmes</a>
    <a href="/personagem"><i class="far fa-user"></i>Personagens</a>
    <a href="/planeta"><i class="fa-solid fa-globe"></i>Planetas</a>
    <a href="/nave"><i class="fa-solid fa-jet-fighter-up"></i>Naves</a>
  </nav>
 </div>

 
  

