<body class="fundoFilme">
  <div class="container mr-5">
    <div id="principalFilmes">      
      <ul>
        <li>
          <iframe width="90%" height="390" src="https://www.youtube.com/embed/vU6L3jXt2r8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </li> 
         <li>
          <h1>{{ empirestrikes.title }}</h1>
        </li>          
        <li>
          <h2> Episodio {{ empirestrikes.episode_id }}</h2>
        </li>
        <li>
          <p>{{ empirestrikes.opening_crawl }}</p>
        </li>
      </ul>
   </div>                 
</div> 
</body>  
   
