<body>
  <div class="container ">
    <div id= 'newhope'>
        {{# each newhope }}
    
        <h1>{{ this.title }}</h1>
        <h2>{{ this.episode_id }}</h2>
        <h2>{{ this.opening_crawl }}</h2>
     </div>
   {{/ each}}
  </div>
 </div>  
</body> 